{% extends 'base.html.twig' %}

{% block title %}Conta{% endblock %}

{% block body %}

    <h1>Bem vindo a(s) sua(s) Conta(s)</h1>
    <table class="table">
        <div class="example-wrapper">
        {% if contas|length > 0 %}
            {% for cont in contas %}
            <div class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">
                <h4> Número da conta: {{ cont.numero }}</h4>
                <h4> Saldo da conta: {{ cont.saldo }}</h4>
                <h4> Tipo da conta: {{ cont.tipoConta }}</h4>
                <tr>
                    <a href="{{ path('app_cliente_verConta', {id:app.user.id, conta:cont.id}) }}" 
                    class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Acessar</a>
                </tr>
            </div>
        
            {% endfor %}
        {% endif %}
        </div>
    </table>
    <div>
        <a href="{{ path('app_cliente_nova_conta', {id:app.user.id}) }}">
            <button class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Criar Conta</button>
        </a>
    </div>
{% endblock %}