{% extends 'base.html.twig' %}

{% block title %}SB ✅{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Lista de Contas Bancárias</h1>
    <div>
        

        {% if contas|length > 0 %}
            {% for conta in contas %}
                <div class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">
                    <a href="{{ path('app_agencia_show', { id: conta.id }) }}">
                        {{ conta.numero}}
                        {{ conta.user}}
                        {{ conta.saldo}}
                        {{ conta.agencia}}
                    </a>
                </div>
            {% endfor %}
        {% else %}
            Nenhuma conta cadastrada
        {% endif %}
    </div>

</div>

{% endblock %}