{% extends 'base.html.twig' %}

{% block title %}SB ✅{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Lista de Agencias Bancárias</h1>
    <div>
        

        {% if agencias|length > 0 %}
            {% for agencia in agencias %}
                <div class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">
                    {{ agencia.nome}}
                    <h4>Endereço: {{agencia.rua}} - {{agencia.bairro}} n° {{agencia.numero}}. {{agencia.cidade}} - {{agencia.uf}}</h4>
                    <h4>Gerente: {{agencia.gerente}}</h4>
                    
                </div>
            {% endfor %}
        {% else %}
             Nenhuma Agencia Cadastrada
        {% endif %}
    </div>  
    <a href="{{ path('app_admin_agencia_add') }}">
            <button class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Criar Agencia</button>
    </a>
    <a href="{{ path('app_admin') }}">
            <button class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Voltar</button>
    </a>

</div>

{% endblock %}
