{% extends 'base.html.twig' %}

{% block title %}Hello GerenteController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">

        <h1>{{minhaAgencia.nome}} </h1>
        <h4>Endereço: Rua {{minhaAgencia.rua}} - {{minhaAgencia.bairro}} n° {{minhaAgencia.numero}}. {{minhaAgencia.cidade}} - {{minhaAgencia.uf}}</h4>
        <h4>Gerente: {{minhaAgencia.gerente}}</h4>

    </div>

    <div>
        <a href="{{ path('app_gerente_agencia_conta_listar') }}" class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">
            Acessar Contas Agencia
        </a>
        <a href="{{ path('app_home_page') }}" class=" bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">
            Voltar
        </a>
    </div>

    
</div>
{% endblock %}
